*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

/* Navigation Bar */
nav{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    position:fixed;
    top:0;
    background:transparent;
    transition:0.3s;
}

/* Scroll Effect */
nav.scrolled{
    background:#000;
}

/* Logo */
.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

/* Menu */
nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:0.3s;
}

/* Hover Effect */
nav ul li a:hover{
    color:yellow;
}

/* Hero Section */
.hero{
    height:100vh;
    background:linear-gradient(to right,#001f8f,#00bfff);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    padding:20px;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:20px;
}

button{
    padding:12px 25px;
    border:none;
    background:white;
    color:black;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
}

/* Responsive */
@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        margin-top:10px;
    }

    .hero h1{
        font-size:40px;
    }
}
